version: '3'
services:
  backend:
    container_name: api-server
    build: 
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - '5000:5000'
  frontend:
    container_name: react-app
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    stdin_open: true
    tty: true
    depends_on:
      - backend
